<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/page1">Users</a> |
        <a href="/page2">Accounts</a>
    </nav>
    <h3>Welcome to Page Two</h3>
    <hr>
    <a href="/page1">Go to Page 1</a>
    <br>
    <a th:href="@{/page1}">Go to Page 1</a> <!-- used to generate a URL based on some dynamic values -->

</body>

</html>