<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3,
        table {
            width: fit-content;
            margin: auto;
        }

        table,
        tr,
        td,
        th {
            border: 1px solid blue;
            border-collapse: collapse;
            color: blue;
        }
    </style>
</head>

<body>
    <h3>List of Employees</h3>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="x : ${list}">
                <td th:text="${x.empid}"></td>
                <td th:text="${x.ename}"></td>
                <td th:text="${x.sal}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>