<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to My WebSite</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti esse libero hic excepturi perferendis, sed
        consequatur temporibus praesentium aperiam officia quo possimus. Quam expedita exercitationem ipsa ab architecto
        molestias porro.</p>


    <!-- <a href="/logout">logout</a> -->
    <a href="/">Root</a>
    <a href="/home">home</a>
    <a href="/sample">sample</a>
</body>

</html>