<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            width: fit-content;
            margin: auto;
        }
    </style>
</head>

<body>
    <h1>List of items</h1>
    <ul>
        <li th:each="a : ${x}" th:text="${a}"></li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="b : ${x}">
                <td th:text="${b}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>