h2{
    text-align: center;
    color: blueviolet;
}

.center{
    text-align: center;
    width: fit-content;
    margin: auto;
}

img{
    height: 500px;
     width: 500px;
     border-radius: 10px;
}