<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{components :: head}"></th:block>

<body>
    <div th:replace="~{components :: nav}"></div>
    <div class="center">
        <h3>List of Employees</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            <tbody>
                <tr th:each="emp: ${emplist}">
                    <td th:text="${emp.empid}"></td>
                    <td th:text="${emp.ename}"></td>
                    <td th:text="${emp.sal}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${emp.empid})}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a th:href="@{/delete/{id}(id=${emp.empid})}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

            </tbody>
            </thead>
        </table>
        <!-- <a href="/showadd">Add Employee</a> -->
    </div>

    <div th:replace="~{components :: foot}"></div>
</body>

</html>