<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{components :: head}"></th:block>

<body>
    <div th:replace="~{components :: nav}"></div>
    <!-- display a form to add employee -->
    <div class="center">
        <h4 th:if="${edit}">Edit Employee</h4>
        <h4 th:unless="${edit}">Add Employee </h4>
        <form action="/add">
            <div class="row align-items-start">
                <div class="col">
                    <label for="id" class="form-label">Employee ID</label>
                    <input type="number" class="form-control" id="id" name="id" th:readonly="${edit}"
                        th:value="${editrec != null ? editrec.empid : ''}">
                </div>
                <div class=" col">
                    <label for="name" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" id="name" name="name"
                        th:value="${editrec != null ? editrec.ename : ''}">
                </div>
                <div class="col">
                    <label for="Salary" class="form-label">Salary</label>
                    <input type="text" class="form-control" id="salary" name="sal"
                        th:value="${editrec != null ? editrec.sal : ''}">
                </div>
                <div style="height: 15px;"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div th:replace="~{components :: foot}"></div>
</body>

</html>